<div *ngIf="this.articles?.length !== 0 && this.articles !== undefined; then dbUp else dbDown"></div>

<ng-template #dbUp>
  <div>
    <label class="center-block">Search:
      <input class="form-control" name="inputSearch" #inputSearch (change)="search(inputSearch.value)">
    </label>
    <h2>List of articles : </h2>
    <app-article *ngFor="let article of this.articles" [article]="this.article" (click)="this.articleService.deleteArticle(this.article?.id);" (deletedArticle)="delete($event)"></app-article>
  </div>
</ng-template>
<ng-template #dbDown>
  <div>
    <p> No articles load from server </p>
  </div>
</ng-template>

